.welcome{
    animation-name: moveInLeft;
    animation-duration: 1s;
      animation-timing-function: ease-out;

}
@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
.hero-para{
    animation-name: moveInRight;
    animation-duration: 1s;
      animation-timing-function: ease-out;
}
@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
.hero-img{
    animation: moveInUp 1s ease-out 0.75s;
    animation-fill-mode: backwards;
}
@keyframes moveInUp {
    0%{
        opacity: 0;
        transform: translateY(200px);
    }
    
    
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.hero-btn{
    animation: moveInUp 1s ease-out 0.75s;
    animation-fill-mode: backwards;
}